@{
    ViewData["Title"] = "Home Page";
    var remainingTime = (TimeSpan)ViewBag.RemainingTime;
}
<<<<<<< HEAD
<link rel="stylesheet" href="../CSS/styles1.css">

<div id="timer">
    Tiempo restante: @remainingTime.Minutes:@remainingTime.Seconds
</div>
=======
    <link rel="stylesheet" href="/css/Index.css">
>>>>>>> d3e522f5c2d7086898223ae606f79bd0a34f8a2d

<div class="text-center">   
    <h1 class="display-4">Welcome</h1>
    <p>To the dungeon</p>
</div>

<<<<<<< HEAD

<header>
    <div class="header-content">
        <img src="/imgs/logo.png" alt="Logo del juego" class="header-logo">
        <nav>
            <ul class="header-links">
                <li><a href='@Url.Action("Tutorial", "Home")'>Tutorial del juego</a></li>
                <li><a href='@Url.Action("Comenzar", "Home")'>Inicio del juego</a></li>
                <li><a href='@Url.Action("Creditos", "Home")'>Créditos</a></li>
            </ul>
        </nav>
    </div>
</header>
=======
<body>
    <header>
        <div class="header-content">
            <nav>
                <ul class="header-links">
                    <li><a href='@Url.Action("Tutorial", "Home")'>Tutorial del juego</a></li>
                    <li><a href='@Url.Action("Comenzar", "Home")'>Inicio del juego</a></li>
                    <li><a href='@Url.Action("Creditos", "Home")'>Créditos</a></li>
                </ul>
            </nav>
        </div>
    </header>

<img src= "/imgs/castle.jpeg">
>>>>>>> d3e522f5c2d7086898223ae606f79bd0a34f8a2d

<img src="../wwwroot/imgs/Labo.png">